<template>
    <main class="container valign">
        <div class="center-align">
            <h2>Portfolio</h2>
            <div class="row" v-if="stocks.length > 0">
                <section v-for="(stock,index) in stocks" :key="index">
                    <app-stock :stock="stock"></app-stock>
                </section>
            </div>
            <div class="row" v-else>
                <h5>You don't have any stock</h5>
                <h6>You may go to <b>Stocks</b> section to buy some</h6>
            </div>
        </div>
    </main>
</template>

<script>

import { mapGetters } from 'vuex';
import Stock from './Stock.vue';

export default {
    computed: {
        ...mapGetters({
            stocks : 'stockPortfolio'
        })
    },
    components : {
        appStock : Stock
    }
}
</script>