<template>
    <div class="col s12 m6">
        <div class="card">
            <div class="card-content">
                <span class="card-title" v-text="`${stock.name} - ${stock.price}USD x ${stock.quantity}`"></span>
            </div>
            <div class="card-action">
                <div class="row">
                    <form class="col s6">
                        <div class="input-field">
                            <input type="number" name="quantity" v-model="quantity" @click="initQ">
                            <label for="quantity">Quantity</label>
                        </div>
                    </form>
                    <div class="col s6">
                        <button 
                            class="btn green accent-3" 
                            @click="sellStock()"
                            :disabled="insufficientQuantity || quantity <= 0"
                            v-text="insufficientQuantity ? 'Insufficient Quantity' : 'Sell'">
                            <i class="material-icons right">attach_money</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import { mapActions } from 'vuex';

export default {
    props : ['stock'],
    data(){
        return {
            quantity : ''
        }
    },
    computed : {
        insufficientQuantity(){
            return this.quantity > this.stock.quantity;
        }
    },
    methods : {
        ...mapActions({
            placeSellOrder : 'sellStock'
        }),
        initQ(){
            if (this.quantity === ''){
                this.quantity = 0;
            }
        },
        sellStock(){
            const order = {
                stockId : this.stock.id,
                stockPrice : this.stock.price,
                quantity : this.quantity
            };
            this.placeSellOrder(order);
            this.quantity = 0;
        }
    }
}
</script>

<style scoped>
    .btn {
        margin-top: 1.4em;
    }
</style>