<template>
    <article class="col s12 m4">
        <div class="card">
            <div class="card-content">
                <span class="card-title" v-text="`${stock.name} - ${stock.price}USD`"></span>
            </div>
            <div class="card-action">
                <div class="row">
                    <form class="col s6">
                        <div class="input-field">
                            <input 
                                type="number" 
                                name="quantity" 
                                v-model="quantity" 
                                @click="initQ"
                                :class="{danger : insufficientFunds}">

                            <label for="quantity">Quantity</label>
                        </div>
                    </form>
                    <div class="col s6">
                        <button 
                            class="btn green accent-3" 
                            @click="buyStock()"
                            :disabled="insufficientFunds || quantity <= 0 || Number.isInteger(quantity)" 
                            v-text="insufficientFunds ? 'Insufficient Funds' : 'Buy'">
                            <i class="material-icons right">attach_money</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </article>
</template>

<script>
export default {
    props : ['stock'],
    data(){
        return {
            quantity : ''
        }
    },
    computed : {
        funds(){
            return this.$store.getters.funds;
        },
        insufficientFunds(){
            return this.quantity * this.stock.price > this.funds;
        }
    },
    methods : {
        initQ(){
            if (this.quantity === ''){
                this.quantity = 0;
            }
        },
        buyStock(){
            const order = {
                stockId : this.stock.id,
                stockPrice : this.stock.price,
                quantity : this.quantity
            };
            this.$store.dispatch('buyStock', order);
            this.quantity = 0;
        }
    }
}
</script>

<style scoped>
    .danger {
        border : 1px solid rgba(209, 6, 6, 0.582);
    }

    .btn {
        margin-top: 1.4em;
    }
</style>

