<template>
    <main class="container valign">
        <div class="center-align">
            <h2>Stocks</h2>
            <div class="row">
                <section v-for="(stock,index) in stocks" :key="index">
                    <app-stock :stock="stock"></app-stock>
                </section>
            </div>
        </div>
    </main>
</template>

<script>

import Stock from './Stock.vue';

export default {
    computed : {
        stocks(){
            return this.$store.getters.stocks
        }
    },
    components : {
        appStock : Stock
    }
}
</script>