<template>
    <footer class="page-footer indigo darken-4">
        <div class="footer-copyright indigo darken-4">
            <div class="container valign">
                <div class="center-align">
                    © 2019 Moletastic
                </div>
            </div>
        </div>
    </footer>
</template>

<style>
    footer {
        padding : 0 0.3em !important;
    }
</style>