<template>
    <header id="header">
      <!-- Navbar -->
      <nav>
        <div class="nav-wrapper indigo darken-4">
          <div class="container row">
            <router-link to="/" class="brand-logo">Stock Trader<i class="large material-icons right">business_center</i></router-link>
            <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
              <router-link tag="li" to="/portfolio"><a>Portfolio</a></router-link>
              <router-link tag="li" to="/stocks"><a>Stocks</a></router-link>
              <li><a href="#" @click="endDay()">End Day</a></li>
              <li>
                <a class="dropdown-trigger" data-target="dropdown" href="#">Save & Load<i class="material-icons right">arrow_drop_down</i></a>
                <ul id="dropdown" class="dropdown-content indigo darken-4">
                  <li><a href="#" @click="saveData()">Save Data</a></li>
                  <li class="divider indigo darken-4"></li>
                  <li><a href="#" @click="loadData()">Load Data</a></li>
                </ul>  
              </li>
              <li id="funds">Funds : {{funds | currency}}</li>  
            </ul>
          </div>
        </div>
      </nav>

      <!-- Mobile Sidenav -->
      <ul class="sidenav" id="mobile-nav">
        <router-link tag="li" to="/portfolio"><a>Portfolio</a></router-link>
        <router-link tag="li" to="/stocks"><a>Stocks</a></router-link>
        <li><a href="#" @click="endDay()">End Day</a></li>
        <li><a href="#" @click="saveData()">Save Data</a></li>
        <li><a href="#" @click="loadData()">Load Data</a></li>
      </ul>
    </header>
</template>

<script>

import { mapActions } from 'vuex';

export default {
  computed : {
    funds(){
      return this.$store.getters.funds;
    }
  },
  methods : {
    ...mapActions({
      randomizeStocks : 'randomizeStocks',
      fetchData : 'loadData'
    }),
    endDay(){
      this.randomizeStocks();
    },
    saveData(){
      const data = {
        funds : this.$store.getters.funds,
        stockPortfolio : this.$store.getters.stockPortfolio,
        stocks : this.$store.getters.stocks
      };
      
      this.$http.put('data.json', data);
    },
    loadData(){
      this.fetchData();
    } 
  },
  mounted(){
    M.AutoInit(); // Materialize
  }
}
</script>

<style>

  .brand-logo {
    font-style: italic;
    color: #f2f2f2;
  }
  
  .brand-logo i{
    margin-top: 0.1em;
  }


  #funds {
    padding-left: 0.5em;
  }

  .dropdown-content{
    top: 100% !important;
  }

  .dropdown-content li a {
    color: white !important;
  }

  .dropdown-content li a:hover{
    color: black !important;
  }

</style>