<template>
    <main class="container valign">
        <section class="center-align">
            <h2>Trade or view your Portfolio</h2>
            <h6>You may <b>Save & Load</b> your Data</h6>
            <h6>Click on <b>End Day</b> to begin a New Day</h6>
        </section>  
    </main>
</template>

<script>
export default {
    computed : {
        funds(){
            return this.$store.getters.funds;
        }
    }
}
</script>