<template>
  <div id="app">
    <app-header></app-header>
    <transition name="slide" mode="out-in">
      <router-view/>
    </transition>
    <app-footer></app-footer>
  </div>
</template>

<script>

import Header from './components/Header.vue';
import Footer from './components/Footer.vue';

export default {
  components : {
    appHeader : Header,
    appFooter : Footer
  },
  created(){
    this.$store.dispatch('initStocks');
  }
}
</script>

<style>

  #app{
    background: #f2f2f2;
    display: flex !important;
    min-height: 100vh !important;
    flex-direction: column !important;
  }

  main {
    flex: 1 0 auto !important; 
  }

  h6 {
    color: #535353;
  }

  .slide-enter-active{
    animation : slide-in 200ms ease-out forwards;
  }

  .slide-leave-active{
    animation : slide-out 200ms ease-out forwards;
  }

  @keyframes slide-in {
    from {
      transform : translateY(-30px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes slide-out {
    from {
      transform: translateY(0);
      opacity: 1;
    }
    to {
      transform : translateY(-30px);
      opacity: 0;
    }
  }

</style>